$color-primary: #007A33;
$color-secondary: #FFFEF6;
$color-third: #582C83;
$color-fourth: #EAAA00;

$color-background: #fff;
$color-background-accent: #f5f5f5;

$color-border: #ccc;

$color-text-primary: #111;
$color-text-alt: #666;
$color-text-light: #999;
$color-text-invert: #fff;
$color-text-link: $color-primary;
$color-text-heading: $color-primary;