$color-primary: #047857;
$color-secondary: #FFFEF6;
$color-third: #059669;
$color-fourth: #065f46;
$color-fifth: #eab308;

$color-background: #fff;
$color-background-accent: #f5f5f5;

$color-border: #ccc;

$color-text-primary: #111;
$color-text-alt: #666;
$color-text-light: #999;
$color-text-invert: #fff;
$color-text-link: $color-primary;
$color-text-heading: $color-primary;